{% extends 'base.html' %}

{% block title %}
  Scrumptious recipes
{% endblock title %}


{% block content %}
    <header>
        <nav class="navbar3">
            <a href="{% url 'all_recipes' %}" id="main-page">Main Page</a>
        </nav>
    </header>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Create</button>
        </form>
{% endblock content %}
