{% extends 'base.html' %}

{% block title %}
  Scrumptious recipes
{% endblock title %}


{% block content %}
    <header>
        <nav class="navbar2">
            <a href="{% url 'all_recipes' %}" id="main-page">Main Page</a>
            <a href="{% url 'recipe_edit' recipe_object.id %}">Edit Recipe</a>
        </nav>
    </header>
    <main>
        <h1>{{ recipe_object.title }}</h1>
        <img src="{{ recipe_object.picture }}">
        <div>4.3 stars</div>
        <h2>Ingredients</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Amount</th>
                    <th>Food item</th>
                </tr>
            </thead>
            <tbody>
                {% for ingredient in recipe_object.ingredients.all %}
                    <tr>
                        <td>{{ ingredient.amount }}</td>
                        <td>{{ ingredient.food_item }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <h2>Steps</h2>
        <ol>
            {% for step in recipe_object.steps.all %}
            <li>{{ step.instruction }}</li>
            {% endfor %}
        </ol>
    </main>
{% endblock content %}
