{% extends 'base.html' %}

{% block title %}
  Scrumptious recipes
{% endblock title %}

{% block content %}
    <header>
        <nav class="navbar">
            <a href="{% url 'all_recipes' %}" id="main-page">Main Page</a>

            {% if user.is_authenticated %}
                <div>Hello, {{ user.username }}</div>
                <a href="{% url 'user_logout' %}">Logout</a>
                <a href="{% url 'create_recipe' %}">Create a recipe</a>
                <a href="{% url 'my_recipe_list' %}">My recipes</a>
            {% else %}
                <a href="{% url 'signup' %}">Sign up</a>
                <a href="{% url 'user_login' %}">Login</a>
            {% endif %}
        </nav>
    </header>
    <hr>
    <main>
        <h1>Scrumptious Recipes</h1>
        <h2>All the food that's fit to eat</h2>
        <div id="veg">
            {% for recipe in recipe_list %}
                <div onclick='location.href="{% url 'recipe_detail' recipe.id %}";' style="cursor: pointer;">
                    <h3>
                        <a>{{ recipe.title }}</a>
                        <p>{{ recipe.created_on|date:"j F, Y" }}</p>
                    </h3>
                    <img src="{{ recipe.picture }}">
                    <div>4.3 stars</div>
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock content %}
