@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    font-family: Roboto;
    background-color: rgb(230, 224, 216);
}

body {
    margin: 0;
    padding: 0;
}

main {
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 100px;
}

footer {
    background-color: rgba(0, 60, 0, 0.221);
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 16px;
    padding-right: 0px;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
}

img {
    height: 200px;
    width: 200px;
}

nav {
    border-bottom: 1px black;
    padding: 16px;
    background-color: rgba(100, 0, 0, 0.374);
}

a {
    text-decoration: none;
    color: darkgreen;
}

#veg {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

#veg > div {
    margin: 16px;
    padding: 16px;
    box-shadow: 0px 2px 4px 2px rgba(118, 113, 113, 0.203);
    transition: box-shadow 0.5s ease-in-out;
}

#veg > div:hover {
    box-shadow: 0px 20px 40px 20px rgba(118, 113, 113, 0.203);
}

#main-page {
    color: white;
}

#main-page:hover {
    color: lightgreen;
}

.table tr:nth-child(even) {
    background-color: rgba(118, 113, 113, 0.203);
}

h3 a {
    color: darkgreen;
}

.navbar {
    width: 100%;
    overflow: auto;
  }

.navbar a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    width: 20%;
    text-align: center;
    border-right: 1px solid #000;
  }

.navbar div {
    float: right;
    margin-right: 48px;
}

.navbar2 {
    width: 100%;
    overflow: auto;
  }

.navbar2 a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    width: 20%;
    text-align: center;

  }

.navbar2 a:nth-child(odd) {
    border-right: 1px solid #000;
}

.navbar3 {
    width: 100%;
    overflow: auto;
  }

.navbar3 a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    width: 20%;
    text-align: center;
  }

a:hover {
    color: lightgreen;
}

#veg > div:hover a {
    color: lightgreen;
}
